.SectionHero {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/img/event.jpg) rgba(0, 0, 0, 0.69) no-repeat fixed center;
    background-size: cover;
    background-blend-mode: multiply;

    &-Container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        height: 280px;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
        padding: 25px;
    }

    &-Title {
        text-align: center;
        font-size: 30px;
        color: #fff;
    }

    &-Organizer {
        text-align: center;
        font-size: 30px;
        color: #c59613;
    }
    
    &-Date {
        text-align: center;
        font-size: 25px;
        color: #fff;
    }
}





