.AboutCard {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &-Image {
        width: 90%;
        height: 160px;
        object-fit: cover;
        object-position: center;
    }

    &-Title {
        font-size: 22px;
        font-weight: bold;
    }

    @media screen and (max-width: 1200px) {
        & {
            width: 400px;
            height: 350px;
            justify-content: space-around;
        }
    
        &-Image {
            height: 200px;
        }
    }

    @media screen and (max-width: 768px) {

        & {
            width: 90%;
            height: 300px;
        }
    }
}