* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

main {
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
}

a {
  text-decoration: none;
  color: #000;
}

h1, 
h2 {
  margin: 0;
}

p {
  line-height: 150%;
  font-size: 18px;
}

a .active {
  color: #9e7911;
}